@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Dashboard", "Index", "Dashboard", routeValues: null, htmlAttributes: new { title = "Dashboard", @class="nav-link"})
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-info" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Login | Join", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link btn btn-outline-info" })</li>
    </ul>
}
