<!-- CONTENT================================================== -->
<div class="container" style="padding-top: 100px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6 my-5">
            <div class="text-center">
                <!-- Preheading -->
                <h6 class="text-uppercase text-muted mb-4 font-weight-bold">
                    404 error
                </h6>

                <!-- Heading -->
                <h1 class="display-5 mb-3 text-primary">
                    The page you are looking for could not be <strong class="font-weight-bolder">found</strong>!
                </h1>

                <!-- Subheading -->
                <p class="text-muted mb-4">
                    Looks like you followed a bad link.
                </p>

                <!-- Button -->
                <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-primary">
                    Return Home
                </a>
            </div>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
