@{
    ViewBag.Title = "Activity Calendar";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-12">
        <h3 class="text-primary">Activity Calendar</h3>
        <hr />
    </div>
</div>

<div class="row bg-white pt-3 pb-3 rounded">
    <div class="col-12">
        <div id="calender" class=""></div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-warning btn-sm float-right">
                    Remove
                </button>
                <button id="btnEdit" class="btn btn-primary btn-sm float-right" style="margin-right:5px;">
                    Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save Event</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Event Name</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class="row">
                            <div class="col-8"><input type="text" id="txtStart" class="form-control" /></div>
                            <div class="col-4"><input type="time" id="txtStartTime" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkIsFullDay">
                        <label class="custom-control-label" for="chkIsFullDay">Full Day Event</label>
                    </div>
                   
                    <div class="form-group" id="divEndDate">
                        <label>End Date</label>
                        <div class="row">
                            <div class="col-8"><input type="text" id="txtEnd" class="form-control" /></div>
                            <div class="col-4"><input type="time" id="txtEndTime" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        var test = null;
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetEvents", "Activities")",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.Id,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay
                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('fail start');
                    }
                })
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev, next today',
                        center: 'title',
                        right: 'month,basicWeek,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');

                        $description.append($('<p/>').html('<b>Start Date: </b>' + calEvent.start.format("DD-MMM-YYYY hh:mm A")));
                        $description.append($('<p/>').html('<b>End Date: </b>' + calEvent.end.format("DD-MMM-YYYY hh:mm A")));
                        $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                      
                        $('#myModal #pDetails').empty().html($description);
                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            Id: event.eventID,
                            Subject: event.title,
                            Start: event.start.format('DD/MM/YYYY hh:mm A'),
                            End: event.end.format('DD/MM/YYYY hh:mm A'),
                            Description: event.description,
                            ThemeColor: event.color,
                            IsFullDay: event.allDay
                        };
                        SaveEvent(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure to delete the selected event?')) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteEvent", "Activities")',
                        data: { 'eventID': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed delete');
                        }
                    })
                }
            })

            $('#txtStart').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                format: 'dd/M/yyyy'
            });
            $('#txtStart').datepicker("setDate", new Date());

            $('#txtEnd').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                format: 'dd/M/yyyy'
            });
            $('#txtEnd').datepicker("setDate", new Date());

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#txtStartTime').prop("disabled", true);
                    $('#txtEndTime').prop("disabled", true);
                }
                else {
                    $('#txtStartTime').prop("disabled", false);
                    $('#txtEndTime').prop("disabled", false);
                }
            });

            function openAddEditForm() {
                $('#hdEventID').val(selectedEvent.eventID);
                $('#txtSubject').val(selectedEvent.title);
                $('#txtStart').val(selectedEvent.start.format('DD/MMM/YYYY'));
                $("#txtStartTime").val(selectedEvent.start.format('HH:mm'));
                $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                $('#chkIsFullDay').change();
                $('#txtEnd').val(selectedEvent.end.format('DD/MMM/YYYY'));
                $('#txtEndTime').val(selectedEvent.end.format('HH:mm'));
                $('#txtDescription').val(selectedEvent.description);
                $('#ddThemeColor').val(selectedEvent.color);
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

            $('#btnSave').click(function () {
                //Validation/
                var startDate, endDate;
                var startDateString, endDateString;

                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#txtStartTime').val().trim() == "") {
                    alert("Start time cannot be blank");
                    return;
                }
                if ($('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                if ($('#txtEndTime').val().trim() == "") {
                    alert("End time cannot be blank");
                    return;
                }
                else {
                    if ($('#chkIsFullDay').is(':checked') == false) {
                        startDateString = $('#txtStart').val() + " " + $('#txtStartTime').val();
                        endDateString = $('#txtEnd').val() + " " + $('#txtEndTime').val();
                    } else {
                        startDateString = $('#txtStart').val() + " 00:00";
                        endDateString = $('#txtEnd').val() + " 00:00";
                    } 

                    startDate = new Date(startDateString);
                    endDate = new Date(endDate);
                    if (startDate >= endDate) {
                        alert('End Date cannot be earlier than or the same as Start Date!');
                        return;
                    }
                }

                var data = {
                    Id: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: startDateString,
                    End: endDateString,
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked')
                }
                SaveEvent(data);
                // call function for submit data to the server
            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/activities/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Fail save');
                    }
                })
            }
        })
    </script>
}