@{ 
    ViewBag.Title = "Credits";
}

    <div class="container" style="padding-top: 80px;">
        <div class="row">
            <div class="col-12">
                <h3 class="text-primary">Credits</h3>
                <hr />

                <p>This website was built and developed based on other materials. We would like to knowledge their work in this page.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="text-secondary">Icons and Logo</h4>
                <ul>
                    <li><div>ScreenOut logo: made with <a href="https://www.logomakr.com/8XK35O" target="_blank">www.logomakr.com</a></div></li>
                    <li><div>Flag icon: made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></a></li>
                    <li><div>Bicycle icon: made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
                    <li><div>Child icon: made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
                    <li><div>Family icon: made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
                    <li><div>Tablet icon: made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
                    <li><div>Key icon: made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
                    <li><div>Bin icon: made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
                </ul>
            </div>
        </div>
    </div>