
@{
    ViewBag.Title = "mediaplan";
    ViewBag.CurrentPage = "MediaPlan";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<style>
    .homeimg {
        height: 100vh;
        min-height: 400px;
        background-image: url('../../img/media-plan-banner.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlay-div {
        height: 100vh;
        min-height: 400px;
        width: 100%;
        position: absolute;
        background-color: #000;
        opacity: .2;
    }

    .banner-content h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .banner-content h4 {
        color: #fff;
    }

    .banner-content .primary-btn {
        background: #fff;
        border: 1px solid #fff;
        color: #15181d;
        margin-top: 40px;
    }

    .primary-btn {
        position: relative;
        display: inline-block;
        line-height: 48px;
        color: #fff;
        padding: 0px 35px;
        font-family: "Lora",serif;
        font-size: 15px;
        /* font-weight: 400; */
        outline: none !important;
        text-align: center;
        cursor: pointer;
        text-transform: capitalize;
        background: #ff573d;
        border: 1px solid #ff573d;
        border-radius: 2px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .bgc {
        background-image: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);
    }
</style>

<!-- first part of the page- the background div -->
<div class="homeimg">
    <div class="overlay-div"></div>
    <div class="container h-100">
        <!-- the inside text container div -->
        <div class="row fullscreen" style="padding-top:20%">
            <div class="banner-content col-lg-7">
                <h1>
                    CHANGING BEHAVIOURS
                </h1>
                <h5>
                    Make a family media plan today. Set screen time your kids to follow at home and track their progress with us.
                    Take control of developing good habits for a better and brighter future.
                </h5>
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary mt-3 mb-3">                    Set Plan Now                </a>
            </div>
        </div>
    </div>
</div><!--./ the background div -->

<span id="one"></span>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <img src="~/img/overview-screenshot.PNG" class="img-fluid" />
        </div>
    </div>
</div>