@{
    ViewBag.Title = "Excessive Screen Time";
    ViewBag.CurrentPage = "Research";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    .aboutimg {
        height: 60vh;
        min-height: 500px;
        background-image: url('../../img/screen-time-banner.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlay-div {
        height: 60vh;
        min-height: 500px;
        width: 100%;
        position: absolute;
        background-color: #000;
        opacity: .7;
    }

    .setsizeimg {
        max-height: 100px;
        max-width: 100px;
    }

    .chart {
        width: 100%;
        min-height: 350px;
    }

    .showcase .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }

    .title1 {
        letter-spacing: -.75px;
        font-family: serif;
        font-weight: 700;
        margin: 0 0 25px;
        font-size: 50px
    }

    .describ {
        font-size: 25px;
    }
</style>

<div class="aboutimg">
    <div class="overlay-div"></div> <!-- the new div -->
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h2 class="hero-title text-white title1"><b>Issue and usage of screens</b></h2>
                <p class="describ text-white text-center">Is your child following the recommended daily screen time by AIHW?</p>
                <p class="describ text-white text-center">Does your child use electronic devices while sleeping?</p>
                @*<a class="btn btn-outline-primary call-action" href="#GamerPercentageChart" onclick="SmoothScrollTo(event)">Gamer Percentage</a>
                    <a class="btn btn-outline-primary call-action" href="#AvgGameTimeChart" onclick="SmoothScrollTo(event)">Game Time</a>
                    <a class="btn btn-outline-primary call-action" href="#GuidelineChart" onclick="SmoothScrollTo(event)">Guideline</a>*@
            </div>
        </div>
    </div>
</div>

<section class="page-section" id="services" style="background-color:#f8f9fa">
    <div class="container">
        <div class="row text-center pt-4 pb-4">
            <div class="col-md-4">
                <div class="card shadow p-3 bg-white rounded h-100">
                    <div class="card-body">
                        <h4 class="service-heading">How is screen time harming sleep?</h4>
                        <p class="text-muted">
                            More screen time results in <b>sleep deprivation</b>. 
                            One hour increase in screen time reduces the sleep time by <b>20%</b>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 bg-white rounded h-100">
                    <div class="card-body">
                        <h4 class="service-heading">Screen Time Recommendation</h4>
                        <p class="text-muted">
                            Kids are spending <b>3 times</b> the <b>recommended daily screen time</b> by health department in various countries.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 bg-white rounded h-100">
                    <div class="card-body">
                        <h4 class="service-heading">Recommended guidelines</h4>
                        <p class="text-muted">
                            Less than <b>20% kids</b> of 9 to 12 years <b>satisfy</b> the <b>recommended physical activity</b>,
                            around <b>30%</b> kids satisfy the <b>recommended screen time</b> and only <b>6% satisfy both</b>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container">
        <div class="row mb-3 mt-3 pb-3" style="border-bottom: 1px solid #cfcfcf">
            <div id="chart_screentime_sleeptime" class="chart col-lg-6 order-lg-2"></div>
            <div class="col-lg-6 order-lg-1 pt-3">
                <h3>Screen Time and Sleep Time Negative Correlation</h3>
                <p class="lead mb-0">
                    Screen time and sleep duration have been shown to have to negative correlation as seen in the chart.
                    Even though different screen time activities have varying effects on sleep duration, it is recommended that
                    parents should monitor or set limit their children's screen time usage.
                </p>
            </div>
        </div>

        <div class="row mb-3 pb-3" style="border-bottom: 1px solid #cfcfcf">
            <div id="chart_screentime" class="chart col-lg-6"></div>
            <div class="col-lg-6 pt-3">
                <h3>Screen Time Usage</h3>
                <p class="lead mb-0">
                    The chart shows time spent by male and female kids on different activities like games, chatting and other usage.
                    The total <b>daily average screen time</b> is around <b>7 hours</b> which is <b>5 hours</b> more than 
                    <b>recommended 2 hours*</b> by the Department of Health in Australia.
                </p>
                <div class="float-right mt-5">
                    <em><a href="https://www1.health.gov.au/internet/main/publishing.nsf/content/health-pubhlth-strateg-phys-act-guidelines" target="_blank">
                        * Australia's Physical Activity and Sedentary Behaviour Guidelines
                    </a></em>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div id="GuidelineChart" class="chart col-lg-6 order-lg-2"></div>
            <div class="col-lg-6 order-lg-1 pt-3">
                <h3>Physical Activity and Screen Time Guideline</h3>
                <p class="lead mb-0">
                    <b>Only 30% </b>of children in <b>age group 9-12 years</b> meet recommended daily screen time,
                    <b>less than 20%</b> meet the recommended <b>physical activity*</b> and only around <b>6% met both criteria</b> 
                    as defined by Australian Institute of Health and Welfare (AIHW).
                </p>

                <div class="float-right mt-5">
                    <em><a href="https://www.aihw.gov.au/reports-data/behaviours-risk-factors/physical-activity/overview" target="_blank">
                        * Physical Activity Report by Australian Institute of Health Welfare
                    </a></em>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });
    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawScreenTimeSleepTimeChart);
    google.charts.setOnLoadCallback(drawScreenTimeChart);
    google.charts.setOnLoadCallback(drawRecommendActivityChart);
    window.onresize = function () {
        drawRecommendActivityChart();
        drawScreenTimeChart();
        drawScreenTimeSleepTimeChart();
    }
    function drawScreenTimeSleepTimeChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', "Screen Time");
        data.addColumn('timeofday', "Console games");
        data.addColumn('timeofday', "PC games");
        data.addColumn('timeofday', "Online chat");
        data.addColumn('timeofday', "Other PC use");
        data.addRows([
            ["None", [6, 27, 0], [6, 29, 0], [6, 40, 0], [6, 23, 0]],
            ["< 0.5h", [6, 20, 0], [6, 22, 0], [6, 47, 0], [6, 42, 0]],
            ["0.5-1h", [6, 25, 0], [6, 19, 0], [6, 40, 0], [6, 40, 0]],
            ["2-3h", [6, 13, 0], [6, 16, 0], [6, 20, 0], [6, 30, 0]],
            ["4h", [6, 0, 0], [5, 58, 0], [5, 55, 0], [6, 10, 0]],
            ["> 4h", [5, 37, 0], [5, 50, 0], [5, 38, 0], [5, 48, 0]]
        ]);
        // Set chart options: Male chart
        var options = {
            title: "Screen Time vs Sleep Time",
            titleTextStyle: { fontSize: 18, bold: false },
            fontName: 'Verdana',
            colors: ["#e1e7e7", "#07abcc", "#ef5255", "#e4934b"],
            pointSize: 5,
            chartArea: { left: 70, top: 50, width: '60%', height: '70%' },
            vAxis: {
                title: "Sleep Duration",
                titleTextStyle: {italic: false},
                minValue: [5, 0, 0],
                gridlines: { color: 'f6f6f6', units: { hours: { format: ['h:mm', 'ha'] } } },
                minorGridlines: { units: { minutes: { format: ['h:mm', 'ha'] } } }
            },
            hAxis: { title: "Screen Time" }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_screentime_sleeptime'));
        chart.draw(data, options);
    }
    function drawScreenTimeChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', "Activity");
        data.addColumn('number', "Female");
        data.addColumn('number', "Male");
        data.addColumn('number', "Recommended Guidline");
        data.addColumn({ type: 'string', role: 'annotation' });
        data.addRows([
            ['Console games', 0.1, 0.9, 2, null],
            ['PC games', 0.3, 1.2, 2, '2h Recommended Screen Time'],
            ['Online chat', 2.1, 1.9, 2, null],
            ['Other PC use', 2.6, 2.1, 2, null],
            ['Total use', 5.6, 6.6, 2, null]
        ]);
        var options = {
            title: 'Screen Activities and Time of Girls and Boys',
            titleTextStyle: { fontSize: 18, bold: false },
            fontName: 'Verdana',
            colors: ["#e1e7e7", "#07abcc", "#ef5255"],
            chartArea: { left: 60, top: 50, width: '90%', height: '73%' },
            legend: { position: 'in', alignment: 'start' },
            animation: { startup: true, duration: 2000, easing: 'linear' },
            vAxis: { title: 'Hours', titleTextStyle: {italic: false}, gridlines: { color: 'white' } },
            hAxis: { title: '' },
            seriesType: 'bars',
            series: { 2: { type: 'line' } }
        };
        var chart = new google.visualization.ComboChart(document.getElementById('chart_screentime'));
        chart.draw(data, options);
    }
    function drawRecommendActivityChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', "Recommendation");
        data.addColumn('number', "9-12");
        data.addColumn({ type: 'string', role: 'tooltip' });

        data.addRows([
            ["Physical activity", 0.18, "Recommendaton for physical activity is at least one hour per day. Only 18% of children aged 9-12 met such guideline."],
            ["Screen time", 0.3, "Recommended screen time for children aged 9-12 is two hours per day. Only 30% met the requirement."],
            ["Both guidelines", 0.06, "The percentage of children aged 9-12 meeting both guidelines was only 6%."]
        ]);
        var options = {
            title: 'Percentage of Children who Met Physical Activity and Screen Time Guideline',
            titleTextStyle: { fontSize: 18, bold: false },
            tooltip: { isHtml: true },
            colors: ["#ef5255"],
            fontName: 'Verdana',
            chartArea: { left: 60, top: 50, width: '90%', height: '75%' },
            animation: { startup: true, duration: 2000, easing: 'linear' },
            hAxis: { title: 'Met Recommendation Guideline' },
            vAxis: { format: 'percent', gridlines: { color: 'white' }, maxValue: 0.4 }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('GuidelineChart'));
        chart.draw(data, options);
    }
    // Smooth scroll to a selected section on the same page
    function SmoothScrollTo(event, timelength) {
        // get the ID attribute of the go-to section via href of <a> tag
        var id_section = $(event.target).attr('href');
        var timelength = timelength || 1000;
        $('html, body').animate({
            // -70px so that we can see full header of the section
            scrollTop: $(id_section).offset().top - 70
        }, timelength, function () {
            window.location.hash = id_section;
        });
    }
</script>